<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.blundell.quicksand.demo"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:name="com.blundell.quicksand.demo.DemoApplication"
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name=".activitytransition.FromHereActivity"
      android:label="@string/title_activity_from_here" />
    <activity
      android:name=".activitytransition.ToHereActivity"
      android:label="@string/title_activity_to_here" />
    <activity android:name=".viewanimation.ViewAnimateActivity" />
    <activity
      android:name=".MainActivity"
      android:label="@string/title_activity_main">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".simpleanimation.SimpleAnimationActivity"
      android:label="@string/title_activity_simple" />
  </application>

</manifest>
